:root{
    --background-white : #ffff;
    --text-black : #000000;
    --background-black : #020123;
    --text-white : #ffffff;
}
*{
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'JetBrains Mono',Courier ; */
    font-size: 15px;
    word-wrap: break-word;
}

a {
    text-decoration: none;
}
footer{
    background: black;
    color: #ffffff;
}
.bg_custom{
    background: linear-gradient(to left, #2cc8da,#31d4cf,#188bc5,#1f8fda,#14bbcd);
}
.img-popup{
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.img-popup>img{
    width: 150px;
}
.overlay-popup{
animation: popup 0.7s;
}
@keyframes popup {
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.4);
    }
    60%{
      transform: scale(1.1);
    }
    70%{
      transform: scale(1.2);
    }
    80%{
      transform: scale(1);
    }
    90%{
      transform: scale(1.1);
    }
    100%{
      transform: scale(1);
    }
  }
/* .form_login{
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    transition: all 0.5s;
}
.form_login:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 10px gray;
} */
.margin_top{
    height: 100vh;
    display: flex;
    align-items: center ;
}
header{
    position: relative;
    width: 100%;
    height: 4.5rem;
}
.header_custom{
    box-shadow: 0 2px 10px gray;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #fff;
}
.nav_custom{
    width: 175px;
    height: auto;
    padding: 10px;
}
.nav_custom img{
    width: 100%;
}
.services{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service{
    display: flex;
    align-items: center;
    gap: 18px;
    border: 1px solid #ccc;
    width: 250px;
    height: 100px;
    padding: 20px 15px;
}
.service p{
    font-size: 13px;
}
.product{
    width: 100%;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid gray; */
    object-fit: cover;
    /* border: 0.5px solid rgb(191, 189, 189); */
    border-radius: 5px;
    margin-bottom: 0.5rem;
}
.product:hover{
    box-shadow: 0 2px 10px gray;
    border-radius: 5px;
}
.product:hover img{
    transform: scale(1.05);
    transition: all 0.3s;
}
.product img{
    width: 100%;
    max-height: 273px;
    object-fit: contain;
}
.image_product{
    width: 100%;
    max-height: 250px;
    overflow: hidden;
}
.des_product{
    padding-top: 1.5rem;
}
.des_product h5{
    font-size: 16px;
}

.banner img{
    max-width: 100%;
    object-fit: cover;
    transition: all 1.5s;
}
.banner{
    display: block;
    overflow: hidden;
    transition:all 0.5s;
}
.banner img:hover{
    transform: scale(1.1);
    opacity: 0.75;
}
.banner_chils img{
    max-width: 100%;
}
.social_icon img{
    width: 50px;
}
.dropdown_custom{
   position: relative;
}
.dropdown_item_custom{
position: absolute;
width: 350px;
height: fit-content;
transform: translate(-175px,10px);
}
#form-register{
    display: none;
}
.show li{
    width: 15rem;
}
.show li a:hover{
    color: #14bbcd !important;
}
.me-n{
    transform: translate(-50px,0);
}
/* .bg_color::after{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid gray;
    border-radius: 50%;
    
} */
.bg_color{
    width: 13px;
    height: 13px;
    border: 1px solid gray;
    border-radius: 50%;
}
.min-max-price{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.detail_image{
    max-width: 100%;
    overflow: hidden;
}
.product_image_detail{
    position: sticky;   
    height: 513px;
    top: 87px;
}
.color_item{
    display: flex;
    padding: 0 7px;
    border-radius: 5px;
    cursor: pointer;
}


.color_item>div{
    margin-left: 5px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
}
.size_item{
    border: 1px solid gray;
    padding: 5px;
    min-width: 30px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.size_item label{
    cursor: pointer;
}
.item_active{
    transform: translateY(-5px);
    transition: all 0.3s;
    box-shadow: 5px 5px 10px gray;
    border: none;
}
.minus,.plus{
    border: 1px solid rgb(175, 175, 175);
    padding: 7px 15px;
    background-color: rgb(234, 234, 234);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.minus:hover ,.plus:hover{
    background-color: #14bbcd;
}
#numberOrder{
    width: 55px;
    border: none;
    text-align: center;
    border: 1px solid rgb(208, 208, 208);
}
.numberOrder{
    width: 55px;
    border: none;
    text-align: center;
    border: 1px solid rgb(208, 208, 208);
}
.btn_add_cart{
    width: 100%;
    padding: 10px 0;
    font-size: 17px;
    background-color: rgb(230, 39, 39);
    color: rgb(227, 227, 227);
    border: 1px solid rgb(208, 208, 208);
    transition: all 0.3s;
}
.btn_add_cart:hover{
    /* transform: scale(1.015); */
    transform: translateY(-3px);
    box-shadow: 0 5px 10px gray;
    background-color: rgb(218, 15, 15);
    color: rgb(227, 227, 227);
}
.icon_service{
    width: 40px;
}
.product_carousel{
    width: 275px;
}
.owl-item{
    width: 280px !important;
    margin-right: 15px !important;
}

/* cart  */
.order_progress{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px 0 50px;
}
.progress_dot{
    position: relative;
}
.dot_icon{
    display: inline-block;
    margin-top: 3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #ccc;
}
.dot_name{
    position: absolute;
    white-space: nowrap;
    top: 22px;
    left: 0;
    transform: translateX(calc(-50% + 6px));
}
.dot_active{
    background: #000;
    border: none !important;
}
.dot-line_active{
    background: #000;
    border: none !important;
}
.progress_line{
    height: 4px;
    width: 220px;
    background: #ccc;
    transform: translateY(-2px);
}
.box_ordered{
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    /* margin-top: 5%;
    margin: 10% 0; */
    /* animation: lazy-done-box 0.5s 0.2s ease-in-out forwards; */
}
#orderedPopup{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: #14bbcd;
}
.box_ordered>div{
    box-shadow: -1px 8px 18px gray;
}
.box_ordered img{
    animation: lazy-done-order 2s  0.3s ease-in-out forwards;
}

@keyframes lazy-done-order {
    0%{
        opacity: 0;
    }
    10%{
        transform: rotate(360deg);
        transform: scale(-0.5);
        opacity: 0;
    }
    90%{
        transform: rotate(0deg);
        transform: scale(0);
        opacity: 1;
    }
}
@keyframes lazy-done-box {
    0%{
        transform: translateY(-600px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}


#totalQuanity,#priceFinal{
    border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: default;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: right;
}

.nav_profile{
    display: block;
    
}
.nav_profile li{
    padding: 1rem;
    transition: all 0.3s;
    overflow: hidden;
    display: block;
}
.nav_profile li a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    display: block;
}
.nav_profile li:hover{
    background-color: #61b1e7;
    cursor: pointer;
}
.nav_profile li:hover a{
    color: #ffff;
    text-decoration: none;
}
.table_infor_order{
    list-style-type: none;
}


/* overplay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền của lớp phủ */
    z-index: 9999; /* Đảm bảo lớp phủ hiển thị trên cùng */
  }
  
  .form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: #fff; /* Màu nền của form */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Đổ bóng cho form */
  }

  #formLogin{
    display: none;
    transition: 1s all;
  }
  #formRegister{
    display: none;
  }
  .btn_close{
    border: none;
    padding: 7px 15px;
    border-radius: 10px;
    position: absolute;
    top: -11px;
    right: -12px;
    transition: all 0.3s;

  }
  .btn_close:hover{
    box-shadow:inset 5px 5px 10px gray;
    transform: translate(-5px,5px);
  }
  .btn_close:active{
    transform: scale(0.95);
    box-shadow: inset 5px 5px 10px gray;
  }
  .media{
    width: 28%;
    height: 100%;
    margin: 16px 0;
    position: absolute;
    top: 3rem;
    /* display: none; */
  }
  .search-show{
    height: 58px;
    width: 100%;
  }
  .show-search{
    background-color: #f9f7f7;
    border-radius: 5px ;
    box-shadow: 5px 5px 10px gray;
    padding: 7px 0;
    display: none;
  }
  .item-media{
    width: 90%;
    /* height: 80px; */
  }
  .item-media a:hover{
    background-color: #d4e9f8;
  }
  .item-media img{
    width: 50px;
    height: 100%;
  }
  .item-media a{
    /* border: 1px solid gray; */
    padding: 10px 10px;
    background-color: ghostwhite;
    border-bottom: 1px solid rgb(222, 222, 222);
  }
  

  /* login */
  .btn_input_login{
    position: relative;
    width: 100%;
  }
  .btn_login_button{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }